@charset "UTF-8";
/*!
 _ _  _
| | || | Interpark v1.11.53
| | || | INTERPARK UI Development Team
`___'|_|

*/
body {
  background-color: #fff;
}

#loginWrap {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.contentsWrap {
  /* common */
}

.contentsWrap * {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;
  font-size: 14px;
  color: #000;
}

.contentsWrap .loginFieldWrap li {
  margin-bottom: 10px;
}

.contentsWrap .loginFieldWrap .loginBtn {
  margin-top: 20px;
}

.contentsWrap .loginFieldWrap .loginCheck {
  padding: 15px 0;
  font-size: 0;
}

.contentsWrap .loginFieldWrap .loginCheck .checkStyle:first-child {
  margin-right: 30px;
}

.contentsWrap .loginFieldWrap .loginCheck .maintain {
  display: none;
  margin-top: 5px;
  font-size: 12px;
  color: #aaa;
}

.contentsWrap .loginFieldWrap .loginCheck .maintain a {
  text-decoration: underline;
  font-size: 12px;
  color: #aaa;
}

.contentsWrap .loginFieldWrap .loginCheck .maintain span {
  font-size: inherit;
  color: inherit;
}

.contentsWrap .loginFieldWrap .maintain.loginNotice {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}

.contentsWrap .loginFieldWrap .maintain.loginNotice .point {
  color: #ef3e42;
}

.contentsWrap .loginFieldWrap .maintain.loginNotice .btnHelp {
  position: relative;
  padding-right: 14px;
  font-size: 14px;
  line-height: 20px;
  color: #999;
  text-decoration: none;
}

.contentsWrap .loginFieldWrap .maintain.loginNotice .btnHelp:after {
  position: absolute;
  top: 50%;
  right: 4px;
  width: 5px;
  height: 10px;
  margin-top: -4px;
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_arr.png") no-repeat center center;
  content: "";
}

.contentsWrap .loginFieldWrap .error {
  padding-bottom: 10px;
  font-size: 13px;
  color: #ef3e42;
}

.contentsWrap .loginFieldWrap .error span {
  text-decoration: underline;
  font-size: 13px;
  color: #ef3e42;
}

.contentsWrap .loginFieldWrap .error.lock {
  color: #707070;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap {
  position: relative;
  margin-bottom: 10px;
  vertical-align: middle;
  font-size: 0;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .iframe {
  position: relative;
  z-index: 5;
  display: inline-block;
  width: 190px;
  height: 40px;
  font-size: 0;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .iframe iframe {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 40px;
  overflow: hidden;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .iframe .refresh {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  vertical-align: top;
  background-color: #f9f9f9;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .iframe .refresh button {
  display: block;
  width: 100%;
  height: 100%;
  background: url("//openimage.interpark.com/.ui/openId/pc/login/icon_refresh.png") no-repeat center center;
  text-indent: -500em;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .iframe .refresh button:active {
  opacity: .8;
}

.contentsWrap .loginFieldWrap .capchaCodeWrap .styleInput {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding-left: 200px;
  box-sizing: border-box;
}

.contentsWrap .loginFieldWrap .nomemCaution {
  margin-bottom: 15px;
  font-size: 13px;
  color: #707070;
}

.contentsWrap .loginFieldWrap .nomemCaution span {
  color: #1769ff;
}

.contentsWrap .snsLoginWrap {
  padding-top: 20px;
}

.contentsWrap .snsLoginWrap .openid {
  display: block;
  height: 45px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-sizing: border-box;
  background: url("//openimage.interpark.com/.ui/openId/pc/login/openid_sns_logo.png") no-repeat 0 0;
}

.contentsWrap .snsLoginWrap .openid span {
  display: block;
  height: 43px;
  line-height: 43px;
  margin-left: 50px;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #000;
}

.contentsWrap .snsLoginWrap .openid.naver {
  border: 1px solid #23ba09;
  background-position: 14px 13px;
  background-color: #23ba09;
}

.contentsWrap .snsLoginWrap .openid.kakao {
  border: 1px solid #ffd800;
  background-position: 14px -56px;
  background-color: #ffd800;
}

.contentsWrap .snsLoginWrap .openid.payco {
  border: 1px solid #fa2829;
  background-position: 14px -128px;
  background-color: #fa2829;
}

.contentsWrap .snsLoginWrap .openid:active {
  opacity: .9;
}

.contentsWrap .snsLoginWrap .caution {
  padding: 5px 0 10px;
  border-bottom: 1px solid #eee;
  line-height: 17px;
  font-size: 14px;
  color: #999;
}

.contentsWrap .snsLoginWrap .listType {
  padding: 5px 0 10px;
  border-bottom: 1px solid #eee;
}

.contentsWrap .snsLoginWrap .listType ul li {
  position: relative;
  padding-left: 12px;
  font-size: 14px;
  color: #999;
}

.contentsWrap .snsLoginWrap .listType ul li::before {
  content: "-";
  position: absolute;
  top: 0;
  left: 0;
}

.contentsWrap .snsLoginWrap .listType ul li strong {
  font-weight: normal;
  color: #ef3e42;
}

.contentsWrap .snsLoginWrap .listType ul li + li {
  margin-top: 5px;
}

.contentsWrap .ticketAD {
  margin-top: 32px;
}

.contentsWrap .ticketAD a {
  position: relative;
  padding-right: 15px;
  font-size: 15px;
  line-height: 1.5;
  color: #000;
  font-weight: bold;
}

.contentsWrap .ticketAD a:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 7.5px;
  height: 12px;
  margin-top: 1px;
  background: url("//openimage.interpark.com/.ui/openId/pc/login/ad_arrow.svg") no-repeat center center;
  transform: translateY(-50%);
}

.contentsWrap .orderFieldWrap .orderCaution {
  margin-bottom: 15px;
  padding: 60px 0;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #202020;
}

.contentsWrap .orderFieldWrap .orderCaution span {
  color: #ef3e42;
}

.contentsWrap .findInfoWrap {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-size: 0;
}

.contentsWrap .findInfoWrap a {
  font-size: 15px;
  color: #000;
}

.contentsWrap .findInfoWrap .bar {
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 3px 10px 0 10px;
  background-color: #ccc;
  color: #ccc;
}

.contentsWrap .sellerError {
  padding-top: 30px;
  font-size: 13px;
  color: #ef3e42;
}

.contentsWrap .sellerError p,
.contentsWrap .sellerError p a {
  font-size: 13px;
  color: #707070;
}

.contentsWrap .iSeller .error {
  padding-top: 30px;
  font-size: 13px;
  color: #ef3e42;
}

.contentsWrap .iSeller .error p,
.contentsWrap .iSeller .error p a {
  font-size: 13px;
  color: #707070;
}

.contentsWrap button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.contentsWrap .btnBlue {
  display: block;
  background-color: #1769ff;
  width: 100%;
  height: 50px;
  line-height: 48px;
  border-radius: 4px;
  border: 1px solid #1769ff;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}


.contentsWrap .btnBlue:active {
  opacity: .9;
}

.contentsWrap .styleInput {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 0;
  vertical-align: middle;
}

.contentsWrap .styleInput .iInput {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-sizing: border-box;
  vertical-align: top;
  font-size: 16px;
  color: #202020;
}

.contentsWrap .styleInput .iInput::-ms-clear {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.contentsWrap .styleInput .iInput::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.contentsWrap .styleInput .delBtn {
  position: absolute;
  top: 9px;
  right: 11px;
  z-index: 2;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: middle;
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_input_del.png") no-repeat center center #fff;
  outline: 0;
  cursor: pointer;
}

.contentsWrap .checkStyle {
  position: relative;
  display: inline-block;
  line-height: 22px;
  overflow: hidden;
  vertical-align: middle;
}

.contentsWrap .checkStyle input[type="checkbox"] {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
  margin-top: 0;
  margin-left: -3px;
}

.contentsWrap .checkStyle input[type="checkbox"]:checked + label {
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_check_on.png") no-repeat 0 0;
}

.contentsWrap .checkStyle input[type="checkbox"]:checked:disabled + label {
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_check_on_disable.png") no-repeat 0 0;
}

.contentsWrap .checkStyle input[type="checkbox"]:disabled + label {
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_check_disable.png") no-repeat 0 0;
}

.contentsWrap .checkStyle label {
  display: inline-block;
  height: 22px;
  vertical-align: middle;
  padding-left: 26px;
  background: url("//openimage.interpark.com/.ui/openId/pc/btn_check_off.png") no-repeat 0 0;
  -webkit-appearance: none;
  appearance: none;
  font-size: 14px;
  color: #000;
}

.contentsWrap input[type="text"]:focus {
  border: 1px #707070 solid;
}

.contentsWrap input[type="password"]:focus {
  border: 1px #707070 solid;
}

.contentsWrap input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.contentsWrap input[type="password"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.contentsWrap input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.contentsWrap input[type="password"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.contentsWrap input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #fff;
}

.contentsWrap input:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px #fff;
}
